<!-- <nav align="right">
  <a href="/">Movies</a>
  <a href="/new">New Movies</a>
  <a href="/">list of movies</a>
</nav> -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="title" href="/">Hanad's Movies</a>
      <div class="right">
        <a href="/">Movies</a>
        <a href="/new">New Movies</a>
        <a href="/">list of movies</a>
      </div>
    </ul>
    </div>
  </div>
</nav>
