

  <h1><%= @movie[:title] %></h1>
  <p><%= @movie[:description] %></p>

  <form action="/<%= @movie[:id] %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE">
  </form>

  <a href="/<%= @movie[:id] %>/edit">Edit</a>
